# GEMINI AI API CONFIGURATION
GEMINI_API_KEY="GEMINI_API_KEY"

# APPLICATION CONFIGURATION
APP_URL="http://localhost:3000"

# SUPABASE CLOUD CONFIGURATION
VITE_SUPABASE_URL="https://qzqdwydbivrvfqgoceqe.supabase.co"
VITE_SUPABASE_ANON_KEY="sb_publishable_1yHz2Wv7_djW3hbnR-MMdw_RifJ38vn"
SUPABASE_SERVICE_ROLE_KEY=""

# POSTGRESQL DATABASE URL (Supabase Cloud Direct DB Connection)
DATABASE_URL="postgresql://postgres:Mn!carchief2026@db.qzqdwydbivrvfqgoceqe.supabase.co:5432/postgres"

# FIREBASE CLIENT CONFIGURATION
VITE_FIREBASE_API_KEY="AIzaSyAWK6PHFUVHxTdlSdOgyaqPCOaTUauHW4M"
VITE_FIREBASE_AUTH_DOMAIN="carcheif-5f982.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="carcheif-5f982"
VITE_FIREBASE_STORAGE_BUCKET="carcheif-5f982.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="927343083284"
VITE_FIREBASE_APP_ID="1:927343083284:web:a1ada646bf6d769b02cc01"
VITE_FIREBASE_MEASUREMENT_ID="G-TV0XRMHW71"
